/* =WordPress Core
-------------------------------------------------------------- */

.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img {
  &.alignright {
    float: right;
    margin: 5px 0 20px 20px;
  }
  &.alignnone {
    margin: 5px 20px 20px 0;
  }
  &.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
  }
  &.aligncenter {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

.sticky,
.gallery-caption {
  position: relative;
}

/* Text meant only for screen readers. */

.screen-reader-text {
  position: absolute !important;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  &:focus {
    /* Above WP toolbar. */
    top: 5px;
    left: 5px;
    z-index: 100000;
    display: block;
    width: auto;
    height: auto;
    padding: 15px 23px 14px;
    clip: auto !important;
    font-size: 14px;
    font-size: .875rem;
    font-weight: bold;
    line-height: normal;
    color: #21759b;
    text-decoration: none;
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
  }
}

.gallery {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;

  .gallery-item {
    flex-basis: 100%;

    img {
      width: 100%;
    }
  }

  .wp-caption-text {
    margin-bottom: 0;
    margin-left: $gutter;
  }
}


@include bp(small) {
  .gallery {
    .gallery-item {
      flex-basis: 48%;
    }
  }
}

@include bp(medium) {
  .gallery {
    .gallery-item {
      flex-basis: 32%;
    }
  }
}
