.widget-area {
  display: flex;
  padding: 0 $gutter;

  flex-wrap: wrap;
  justify-content: space-between;

  ul {
    padding: 0;
    margin: 0;
    line-height: 1.75;
    list-style: none;

    a {
      @include color-link();
    }
  }
}

.widget {
  margin: $gutter;
}

.widget-title {
  margin-top: 0;
}
