.single,
.page
{
    img
    {
        max-width: 100%;
        height: auto;
    }
}

.site-meta
{
    display: flex;

    margin-bottom: $gutter;

    text-align: left;
    img
    {
        width: 50px;
        height: 50px;

        border-radius: 50%;
    }
}

.site-summary
{
    display: flex;
    flex-direction: column;

    margin-left: ($gutter * 2);

    justify-content: center;
    align-items: flex-start;

    a:not(.site-comments)
    {
        @include color-link-reverse();
    }

    .site-comments
    {
        @include color-link();

        &:before
        {
            margin-right: $gutter;
        }
    }
}

.post-password-form
{
    input
    {
        max-width: 100%;
        margin-top: $gutter;
        padding: $gutter;

        transition: all .2s;

        border: 2px solid #e9eeee;
        border-radius: 5px;

        -webkit-appearance: none;
        -webkit-tap-highlight-color: transparent;

        &:focus
        {
            border-color: #b7c6c9;
            outline: 0;
        }
    }

    input[type=submit]
    {
        margin-top: 0;

        transition: all .2s;

        background-color: #fff;
        &:hover
        {
            color: #fff;
            border-color: $color-brand-primary;
            background-color: $color-brand-primary;
        }
    }
}

.entry-content,
.comment-content
{
    blockquote,
    q
    {
        margin: 0 0 20px;
        padding: 10px 20px;

        border-left: 4px solid #eee;
    }

    kbd
    {
        padding: 2px 4px;

        color: #fff;
        border-radius: 3px;
        background-color: #333;
    }

    p > code 
    {
        font-size: 90%;

        padding: 2px 4px;

        color: #c7254e;
        border-radius: 4px;
        background-color: #f9f2f4;
    }

    pre
    {
        code
        {
            border-radius: 3px;
        }
    }


    p
    {
        font-size: 18px;
        line-height: 1.75;
    }

    li
    {
        line-height: 1.5em;
    }

    a
    {
        @include color-link-reverse();
    }

    iframe
    {
        margin: 0 auto;
    }

    .post-categories
    {
        margin: 0;
        padding: 0;

        list-style: none;

        li
        {
            display: inline-block;

            margin: $gutter ($gutter / 2);

            a
            {
                display: block;

                padding: 0 10px;

                transition: all .2s;

                color: $color-brand-tertiary;
                border: 1px solid $color-brand-primary;
                border-radius: 5px;
                background-color: $color-brand-primary;

                &:hover
                {
                    color: $color-brand-primary;
                    border-color: $color-brand-primary;
                    background-color: #fff;
                }
            }
        }
    }

    .wp-caption
    {
        width: 100%!important;
        margin: 0;

        &.alignright
        {
            .wp-caption-text
            {
                text-align: right;
            }
        }

        &.aligncenter
        {
            .wp-caption-text
            {
                text-align: center;
            }
        }
    }

    .wp-caption-text
    {
        font-size: .9em;

        margin-top: 5px;
        margin-bottom: 25px;

        color: #818a91;
    }
}

.tags-links
{
    margin: $gutter 0;
}

table
{
    width: 100%;

    border-spacing: 0;
    border-collapse: collapse;

    text-align: left;

    td,
    th
    {
        padding: 8px;

        border-top: 1px solid $color-brand-secondary;
    }

    thead
    {
        th
        {
            border-top: none;
        }
    }
}

.video-embed
{
    position: relative;

    overflow: hidden;

    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    iframe,
    embed,
    object
    {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
    }
}
