@mixin bp($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}

@mixin color-link() {
  color: $color-brand-secondary;
  transition: color .1s;

  @content;

  &:hover {
    color: $color-brand-primary;
  }
}

@mixin color-link-reverse() {
  color: $color-brand-primary;
  transition: color .1s;

  @content;

  &:hover {
    color: $color-brand-secondary;
  }
}
