/* Fonts */

$fa-font-path: 'assets/fonts';

/* Breakpoints */

$breakpoints: (
    xsmall: 584px,
    small: 767px,
    medium: 992px,
    large: 1200px
);

/* Variables */

$gutter: 10px;
$header-height: 75px;

/* Colors */

$color-brand: #345;
$color-brand-primary: #f4645f;
$color-brand-secondary: #808080;
$color-brand-secondary-lighten: #d5dbde;
$color-brand-tertiary: #eaeeef;
