.site-header
{
    padding: 0 $gutter;

    text-align: center;
    img
    {
        border-radius: 10%;
    }
}

.social-links-menu
{
    padding: 0;

    list-style: none;

    .menu-item
    {
        display: inline-block;
    }
}
