.navbar {
  display: flex;
  max-width: 100%;
  height: $header-height;
  padding-right: $gutter;
  padding-left: $gutter;

  align-items: center;
  justify-content: space-between;
}

.search-form {
  position: relative;
}

.search-field {
  max-width: 175px;
  -webkit-appearance: none;
  padding-left: 35px;
  line-height: 1.75em;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 999em;
  box-shadow: none;

  &:focus {
    outline: none;
  }
}

.submit-field {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  padding-left: 14.5px;
  background: transparent;
  border: none;

  .fa-search {
    line-height: 1.75em;
    color: $color-brand-secondary;
  }

  &:focus {
    outline: 0;
  }
}

.logo {
  @include color-link;
  flex-basis: 50%;
}
