.#{$fa-css-prefix}-check:before {
  content: $fa-var-check;
}
.#{$fa-css-prefix}-code:before {
  content: $fa-var-code;
}
.#{$fa-css-prefix}-heart:before {
  content: $fa-var-heart;
}
.#{$fa-css-prefix}-angle-left:before {
  content: $fa-var-angle-left;
}
.#{$fa-css-prefix}-angle-right:before {
  content: $fa-var-angle-right;
}
.#{$fa-css-prefix}-angle-up:before {
  content: $fa-var-angle-up;
}
.#{$fa-css-prefix}-user:before {
  content: $fa-var-user;
}
.#{$fa-css-prefix}-angle-down:before {
  content: $fa-var-angle-down;
}
.#{$fa-css-prefix}-download:before {
  content: $fa-var-download;
}
.#{$fa-css-prefix}-twitter:before {
  content: $fa-var-twitter;
}
.#{$fa-css-prefix}-facebook:before {
  content: $fa-var-facebook;
}
.#{$fa-css-prefix}-google-plus:before {
  content: $fa-var-google-plus;
}
.#{$fa-css-prefix}-flickr:before {
  content: $fa-var-flickr;
}
.#{$fa-css-prefix}-instagram:before {
  content: $fa-var-instagram;
}
.#{$fa-css-prefix}-github:before {
  content: $fa-var-github;
}
.#{$fa-css-prefix}-linkedin:before {
  content: $fa-var-linkedin;
}
.#{$fa-css-prefix}-keyboard-o:before {
  content: $fa-var-keyboard-o;
}
.#{$fa-css-prefix}-mobile:before {
  content: $fa-var-mobile;
}
.#{$fa-css-prefix}-camera:before {
  content: $fa-var-camera;
}
.#{$fa-css-prefix}-book:before {
  content: $fa-var-book;
}
.#{$fa-css-prefix}-plane:before {
  content: $fa-var-plane;
}
.#{$fa-css-prefix}-object-group:before {
  content: $fa-var-object-group;
}
.#{$fa-css-prefix}-code-fork:before {
  content: $fa-var-code-fork;
}
.#{$fa-css-prefix}-foursquare:before {
  content: $fa-var-foursquare;
}
.#{$fa-css-prefix}-spotify:before {
  content: $fa-var-spotify;
}
.#{$fa-css-prefix}-twitch:before {
  content: $fa-var-twitch;
}
.#{$fa-css-prefix}-dropbox:before {
  content: $fa-var-dropbox;
}
.#{$fa-css-prefix}-rss:before {
  content: $fa-var-rss;
}
.#{$fa-css-prefix}-dribbble:before {
  content: $fa-var-dribbble;
}
.#{$fa-css-prefix}-codepen:before {
  content: $fa-var-codepen;
}
.#{$fa-css-prefix}-wordpress:before {
  content: $fa-var-wordpress;
}
.#{$fa-css-prefix}-tumblr:before {
  content: $fa-var-tumblr;
}
.#{$fa-css-prefix}-vimeo:before {
  content: $fa-var-vimeo;
}
.#{$fa-css-prefix}-skype:before {
  content: $fa-var-skype;
}
.#{$fa-css-prefix}-pinterest:before {
  content: $fa-var-pinterest;
}
.#{$fa-css-prefix}-reddit:before {
  content: $fa-var-reddit;
}
.#{$fa-css-prefix}-search:before {
  content: $fa-var-search;
}
.#{$fa-css-prefix}-paper-plane:before {
  content: $fa-var-paper-plane;
}
.#{$fa-css-prefix}-circle:before {
  content: $fa-var-circle;
}
.#{$fa-css-prefix}-comments:before {
  content: $fa-var-comments;
}
.#{$fa-css-prefix}-reply:before {
  content: $fa-var-reply;
}
.#{$fa-css-prefix}-info-circle:before {
  content: $fa-var-info-circle;
}
.#{$fa-css-prefix}-long-arrow-down:before {
  content: $fa-var-long-arrow-down;
}
.#{$fa-css-prefix}-bookmark:before {
  content: $fa-var-bookmark;
}
.#{$fa-css-prefix}-youtube:before {
  content: $fa-var-youtube;
}
.#{$fa-css-prefix}-link:before {
  content: $fa-var-link;
}
